   
{% extends 'user/base.html' %}

      {% block content %}
      <h1>User Management System</h1>

      <a href="{% url 'user-form' %}" class="btn btn-primary">
        Add <span class="fa fa-plus" aria-hidden="true"></span>
      </a> <br>
   
      <table class="table mt-4">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Image</th>
              <th>Gender</th>
              <th>Phon Number</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
              {% for std in students %}
            <a>
              <th>{{ std.id }}</th>
              <td>{{ std.userName }}</td>
              <td>{{ std.email }}</td>
              <td>  <img src="{{ std.image.url }}" width="50" height="50">  </td>
              <td>{{ std.gender }}</td>
              <td>{{ std.phon }}</td>
              <th><a href="{% url 'delete' std.id %}">Delete</a></th>
              <th><a href="{% url 'update_rec' std.id %}">Edit</a></th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endblock content %}









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>